{% extends "authenticate/base.html" %}
{% block body_block %}
<div class="container">
  <div class="jumbotron">
    <h1>Hello Operators! Welcome...  !</h1>
        <h2>Register or Login if you'd like to</h2>
        <button type="button" name="login"><a href="authenticate/login.html">Login</a></button>
        <button type="button" name="register"><a href="authenticate/register.html">Register</a></button>
        <button type="button" name="attendence"><a href="/attendence">Take Attendence</a></button>
        <button type="button" name="takeleave"><a href="/attendence/takeleave.html">Take Leave</a></button>
  </div>
</div>
{% endblock %}
